{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="alert alert-success" role="alert">
				Connexion réussie, bonne visite
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Deconnexion</a>
			</div>

		{% endif %}


		<div class="row" style="margin :2em;">
			<div class="col">
				<div class="table-responsive-lg blocCentral">
					<div class="card">
						<div class="card-header connexion">CONNEXION</div>
						<div class="card-body orange">
							<div class="card-body blanc">
								<form method="POST" action="">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									<input type="hidden" name="go_to" value="/"/>
									<div class="form-group row">
										<label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
										<div class="col-md-6">
											<input id="email" type="email" class="form-control" name="email" value="" required autocomplete="email" autofocus>
										</div>
									</div>
									<br>
									<div class="form-group row">
										<label for="password" class="col-md-4 col-form-label text-md-right">Mot de passe</label>
										<div class="col-md-6">
											<input id="password" type="password" class="form-control" name="password" required autocomplete="current-password">
										</div>
									</div>
									<br>

									<div class="form-group row mb-0">
										<div class="col-md-8 offset-md-4">
											<button type="submit" class="btn btn-primary">
												Connexion
											</button>
											<a class="btn btn-primary" href="inscription">
												Inscription
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</form>{% endblock %}
