{% extends 'base.html.twig' %}

{% block title %}Fiche Bière
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>{{beer.getName()}}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-3"></div>
		<div class="col-7">

			<br>
			<div class=" text-center">
				<div class="">
					<div class="container">
						<div class="card mb-3 border-0" style=" border-color: #ffc853;">
							<div class="row g-0  align-middle">
								<div class="col-md-4  bg-light mb-3 mt-3 ">
									<div class="align-middle  ">
										<img src="{{asset('imgs/beer/')}}{{beer.getPhoto()}}" class=" img-fluid  " alt="..." style="height: 300px;">
									</div>
								</div>
								<div class="col " style=" background-color: #ffc853;">
									<div class="row ">
										<div class="col">
											<div class="card p-3 m-3 " style=" background-color: #b45f06;">
												<div class="row ">
													<div class="col-8 align-middle">
														<h3 class="text-dark align-middle">{{moyenne}} / 5</h3>
													</div>
													<div class="col-4 align-middle">
														<img src="{{asset('/imgs/site/star.png')}}" alt="..." style="height: 80%;width: auto!important;">
													</div>
												</div>
											</div>
										</div>
										<div class="col">
											<div class=" p-3 m-3  align-middle">
												<a class="btn btn-primary" href="{{beer.getCompany().getWebsite()}}" target="_blank">Acheter</a>
											</div>

										</div>
									</div>
									<hr style=" margin: 20px; color:black">

									<div class="card-body border-1" style=" background-color: #ffc853;border-color:#000;">
										<div class="row ">
											<div class="col">
												<div class="card" style=" background-color: #ffc853;border-color:#000;">

													<h5 class="card-title">Brasserie :</h5>
													<a href="{{ path('app_company_show', {'idcompany': beer.getCompany().idcompany}) }}" style="text-decoration:none;">
														<p class="card-text text-dark">{{beer.getCompany().getCompanyName()}}</p>
													</a>


												</div>
											</div>
											<div class="col">
												<div class="col">
													<div class="card" style=" background-color: #ffc853;border-color:#000;">

														<h5 class="card-title">Origine</h5>
														<p class="card-text text-dark">{{beer.getCompany().getDepartment()}}</p>


													</div>
												</div>
											</div>


										</div>

										<br>
										<div class="card" style=" background-color: #ffc853;border-color:#000;">

											<h5 class="card-title">Description</h5>
											<p class="card-text text-dark">{{beer.getDescription()}}</p>


										</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>

{% if app.user and nbNoteUser != 1 %}
	<div class="row ">

		<div class="col-2"></div>
		<div class="col-8">
			<div class=" card table-responsive-lg m-2 p-3 bg-black text-center ">
				<h3>
					Notez le !
				</h3>
				<form method="POST" action="/creerNote">
<input type="hidden" name="id_user" value="{{ app.user.id_user }}">
<input type="hidden" name="idBeer" value="{{ beer.getidBeer() }}">
 <input id="comment" type="text" class="form-control" name="comment" value="" required autofocus>
 <label for="note_select" style="color: white">Note</label>
<h3>
<select name="note" id="note_select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
</h3>
<button type="submit" class="btn btn-primary">
                                    Appliquer
                                </button>
				</form>
						
			</div>
		</div>
	</div>
{% endif %}


{% for note in notes %}
	<div class="row ">
		<div class="col-2"></div>
		<div class="col-8">
			<div class=" card table-responsive-lg m-2 p-3 bg-black text-center ">
				<h3>
					<a href="/profil/{{note.getUser().getid_user()}}"> {{note.getUser().getPseudo()}} </a>
				</h3>
				{%if note.getUser.getid_user == app.user.id_user %}
				<form method="POST" action="/supprimerNote">
					<input type="hidden" name="id_user" value="{{ app.user.id_user }}">
					<input type="hidden" name="idNote" value="{{ note.getIdnote() }}">
					<input type="hidden" name="idBeer" value="{{ note.getBeer().getIdBeer() }}">
					<button type="submit" class="btn btn-primary">
                                    Supprimer
                                </button>
				</form>
				{%endif%}
				<hr style=" margin: 20px; color:white">
				<p>
					Commentaire :
					{{note.getComment()}}</p>
				<div class="card p-3 " style=" background-color: #000;">
					<div class="row ">
						<div class="col-5 align-middle"></div>
						<div class="col-2" style="vertical-align: sub;">
							<div class="position-absolute top-50 start-50 translate-middle">
								<h4 class="text-white ">{{note.getValue()}}
									/ 5</h4>
							</div>
						</div>
						<div class="col-1 ">
							<div style="position-absolute top-50 start-0 translate-middle">
								<img src="{{asset('/imgs/site/star.png')}}" alt="..." style="height: 90%;width: auto!important;">
							</div>
						</div>
						<div class="col-4 align-middle"></div>
						<br>

					</div>


				</div>
				<small class="text-muted">Crée le
					{{note.getDate().format('Y-m-d')}}</small>
			</div>
			<br/></div>
		<div class="col-2"></div>
	</div>
{% endfor %}</div>{% endblock %}
