{% extends 'base.html.twig' %}

{% block title %}DailyBeer
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="row" style="margin :2em">
		<div class="col">
			<div class=" rounded table-responsive-lg blocStyle ">
				<table>
					<thead>
						<h3 class=" text-center">
							<b>Carte des bières</b>
						</h3>
						<hr class=" text-white">

						<tr>
							<th><img src="{{ asset('/imgs/site/carte_france.png') }}" height="500px"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="col">
			<div class="table-responsive-lg blocStyle">
				<table>
					<thead>
						<h3 class=" text-center">
							<b>Nouvelles Bières</b>
						</h3>
						<hr class=" text-white">

						{% for beer in beers %}


							<div class="card m-3 bg-light text-center" style="max-width: 540px;">
								<div class="row g-0">
									<div class="col-md-4 mb-3 mt-3">
										<a href="/fiche/{{ beer.getIdBeer() }}">
											<img src="{{asset('imgs/beer/')}}{{beer.getPhoto()}}" class="img-fluid" alt="..." style="height: 200px;"></a>
                                         
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">
												<a href="/fiche/{{ beer.getIdBeer() }}" class="text-dark" style="text-decoration:none;">
													{{ beer.getName() }}
												</a>
											</h5>
											<p class="card-text text-dark">{{ beer.getDescription() }}</p>
											<p class="card-text">
												<small class="text-muted ">Ajouté le
													{{ beer.getCreateddate().format('Y-m-d') }}</small>
                                                       <h3 style="color:black"></h3>
											</p>
										</div>
									</div>
								</div>
							</div>


						{% endfor %}
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
