{% extends 'base.html.twig' %}

{% block title %}DailyBeer
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">Profil :
			{{ user.pseudo }}</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<br>
				<div class="card text-center">
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col">
									<span class="iconify" data-icon="mdi:account-circle" style="font-size: 200px;"></span>
									<div class="row">
										<div class="col"></div>

										<!-- <div class="col">
																																																			<button type="button" class="btn btn-dark">Import</button>
																																																		</div>
																																																		<div class="col">
																																																			<button type="button" class="btn btn-dark">Save</button>
																																																		</div>
																																																		<div class="col"></div> -->
									</div>
								</div>
								<div class="col ">
									<h5 class="card-title text-start">Description</h5>
									<div class="card border-dark mb-3">
										<div class="card-body text-dark">
											<p class="card-text text-dark">{{user.description}}</p>
										</div>
									</div>

								</div>
							</div>
							<br>
							<hr>
							<h5 class="card-title text-start">Information complementaire</h5>
							<div class="card border-dark mb-3">
								<div class="card-body text-dark">
									<div class="row text-dark">
										<div class="col">
											<p class="card-title fw-bold text-dark">Pseudo</p>
											<hr>
											<p class="font-weight-bold card-text text-dark text-dark">
												{{ user.pseudo }}</p>
										</div>
										<div class="col">
											<p class="card-title fw-bold text-dark">Prenom</p>
											<hr>
											<p class="font-weight-bold card-text text-dark">{{ user.firstname }}</p>
										</div>
										<div class="col text-dark">
											<p class="card-title fw-bold text-dark">Nom</p>
											<hr>
											<p class="font-weight-bold card-text text-dark">{{ user.name }}</p>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col">
									<img class="img-fluid" src="{{asset('/imgs/site/poduim.png')}}" alt=""/>
								</div>

								<div class="col">
									<div class="card mb-3 bg-light" style="max-width: 540px;">
										<div class="row g-0">
											<div class="col-md-4 mb-3 mt-3">
												<img src="{{asset('/imgs/site/beer_delirium.png')}}" class="img-fluid" alt="..." style="height: 200px;">
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<h5 class="card-title">Delirium</h5>
													<p class="card-text text-dark">best beer 😃</p>
													<p class="card-text">
														<small class="text-muted ">Créer le 08/02/2020 a 14h00</small>
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="card mb-3 bg-light" style="max-width: 540px;">
										<div class="row g-0">
											<div class="col-md-4 mb-3 mt-3">
												<img src="{{asset('/imgs/site/Desperados.png')}}" class="img-fluid" alt="..." style="height: 200px;">
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<h5 class="card-title">Desperados</h5>
													<p class="card-text text-dark">Infecte, ne devrai pas etre dans le classement 🤢</p>
													<p class="card-text">
														<small class="text-muted">Créer le 08/02/2020 a 14h00</small>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							{% for note in notes %}

								<div class="card m-3  text-dark bg-light border-dark ">
									<div class="row">
										<div class="col">
											<div class="card ">
												<div class="card-header">
													<div class="row">
														<div class="col">

															date
															{{note.getDate().format('Y-m-d')}}
														</div>
														<div class="col"></div>
														<div class="col">

															Note :
															{{note.getValue()}}
															/ 5
														</div>
													</div>
												</div>
												<div class="card-body bg-white">
													<h5 class="card-title">Commentaire :</h5>
													<p class="card-text text-dark">{{note.getComment()}}</p>
												</div>
											</div>


										</div>
										<div class="col-4 p-2">
											<h5 class="card-title ">Biere :

												<a href="/fiche/{{ note.getBeer().getIdBeer() }}" class="text-dark" style="text-decoration:none;">
													{{ note.getBeer().getName() }}
												</a>
											</h5>
											<a href="/fiche/{{ note.getBeer().getIdBeer() }}">

												<img src="{{asset('imgs/beer/')}}{{note.getBeer().getPhoto()}}" class="img-fluid" alt="..." style="height: 50px;"></a>

										</div>

									</div>

								</div>
							{% endfor %}
						</div>


					</div>
				</div>

			</div>
			<div class="col-2"></div>

		</div>
	</div>


{% endblock %}
