
body {
	background-color: #FFC853;
}
p{
  color: white;
}
.blocStyle
{
  background-color : #000000;
  border-style: solid;
  border-width: 10px;
  border-radius : 10px;
  border-color : #FFC853;
  padding-top: 1%;
  width:  525px;
}
.blocCentral{
  position: absolute;
  width: 35%;
  top: 25%;
  left: 30%;
}
.blanc /*  */
{
  background-color:white;
  /*border-style: solid;
  border-color: white;
  border-width: 8px ;
  border-radius : 10px; */

}
.boutonNav{
  color:#FFC853;
}

nav
{
  /*  border-bottom: 30px solid #FFC853;*/
  /* width : 50%;*/
  height: 100px;
  position: fixed;
  background-color: #000000;
}
#searchbar{
  border-radius: 15px;
}
thead{
  background-color: #000000;
  color: black;
}
h3{
  color: white;
}