{{ form_start(form) }}


<div class="row">
	<div class="col-2"></div>

	<div class="col-3">
		<label for="beer_name" class="form-label">Nom biere :</label>
		<br>
		<br>

		<label for="beer_description" class="form-label">Description :</label>
		<br>
		<br>

		<label for="beer_createddate" class="form-label">Date de creation :</label>

		<br>
		<br>
<!--
		<label for="beer_photo" class="form-label">Photo :</label>
-->

	</div>
	<div class="col-3">

		{{ form_widget(form.name) }}
		<br>
		<br>

		{{ form_widget(form.description) }}
		<br>
		<br>
		{{ form_widget(form.createddate) }}
		<br>
		<br>
        <!--
		{{ form_widget(form.photo) }}
		<br>
		<br>
-->
	</div>
	<div class="col-4"></div>

</div>
<center>
	<div class="vstack gap-2 col-md-5 mx-auto">

		<button class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button>
	</div>
</center>


{{ form_end(form) }}
