{% extends 'base.html.twig' %}


{% block title %}Edit Beer
{% endblock %}

{% block body %}

	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Modification de la biere
				{{beer.name}}</h1>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<div class="card text-center">
						<div class="card-body">
							<br>
							{{ include('beer/_form.html.twig', {'button_label': 'Update'}) }}
							<br>

							<div class="vstack gap-2 col-md-5 mx-auto">

								<button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{{ path('app_beer_index') }}';">Retour vers liste des bieres</button>
							</div>


						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>



{% endblock %}
