{% extends 'base.html.twig' %}

{% block title %}Beer index
{% endblock %}

{% block body %}
	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Liste des bieres</h1>
		</div>
	</div>

	<div class="m-3 border-dark p-2">
		<table class="table text-center table-striped border-dark border-dark p-2">
			<thead class="text-white text-center align-middle">
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Brasserie</th>

					<th>Photo</th>
					<th>Date Creation</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="align-middle p-2">
				{% for beer in beers %}
					<tr>
						<td>{{ beer.idbeer }}</td>
						<td>{{ beer.name }}</td>
						<td>{{ beer.description }}</td>
						<td>
							<a href="{{ path('app_company_show', {'idcompany': beer.getCompany().idcompany}) }}" class="text-dark" style="text-decoration:none;">
								{{ beer.getCompany().companyname }}</a>
						</td>

						<td>
							<a href="/fiche/{{ beer.getIdBeer() }}">

								<img src="{{asset('imgs/beer/')}}{{ beer.photo }}" class="img-fluid" alt="..." style="height: 50px;"></a>
						</td>
						<td>{{ beer.createddate ? beer.createddate|date('Y-m-d') : '' }}</td>
						<td>
							<div class="container">
								<div class="row row-cols-2">
									<div class="col">
										<button type="button" class="btn btn-dark" onclick="window.location.href = '/fiche/{{ beer.getIdBeer() }}';">Afficher</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('app_beer_edit', {'idbeer': beer.idbeer}) }}';">Modifier</button>
									</div>

								</div>
							</div>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucune données trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
