{% extends 'base.html.twig' %}

{% block title %}Beer{% endblock %}

{% block body %}
    <h1>Beer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idbeer</th>
                <td>{{ beer.idbeer }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ beer.name }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{{ beer.createddate ? beer.createddate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ beer.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ beer.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_beer_index') }}">back to list</a>

    <a href="{{ path('app_beer_edit', {'idbeer': beer.idbeer}) }}">edit</a>
{% endblock %}
