{% extends 'base.html.twig' %}

{% block title %}Company index
{% endblock %}

{% block body %}
	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Liste des brasseries</h1>
		</div>
	</div>

	<div class="m-3 border-dark">
		<table class="table text-center table-striped border-dark border-dark ">
			<thead class="text-white text-center">
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Siret</th>
					<th>Site Internet</th>
					<th>Departement</th>
					<th></th>
				</tr>
			</thead>
			<tbody >
				{% for company in companies %}
				
					<tr class="align-middle">
						<td>{{ company.idcompany }}</td>
						<td>{{ company.companyname }}</td>
						<td>{{ company.description }}</td>
						<td>{{ company.siret }}</td>
						<td>							
							<a href="{{ company.website }}" class="text-dark" style="text-decoration:none;">
								{{ company.website }}
							</a>
						</td>

						<td>{{ company.department }}</td>
						<td>
							<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('app_company_show', {'idcompany': company.idcompany}) }}';">Afficher</button>
							<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('app_company_edit', {'idcompany': company.idcompany}) }}';">Modifier</button>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucune données trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="vstack gap-2 col-md-5 mx-auto">
		<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('app_company_new') }}';">Nouvelle brasserie</button>
	</div>
{% endblock %}
