{% extends 'base.html.twig' %}

{% block title %}New Company
{% endblock %}

{% block body %}
	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Creation d'une nouvelle brasserie</h1>
		</div>
	</div>
	<br>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<div class="card text-center">
						<div class="card-body">
							<br>
							{{ include('company/_form.html.twig') }}
							<br>
							<div class="vstack gap-2 col-md-5 mx-auto">

								<button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{{ path('app_company_index') }}';">Retour vers liste des brasseries</button>
							</div>


						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>
{% endblock %}
