{% extends 'base.html.twig' %}

{% block title %}Company
{% endblock %}

{% block body %}
	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Brasserie
				{{company.companyname}}</h1>
		</div>
	</div>
	<br>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8 ">
					<div class="card text-center">
						<div class="card-body">
							<br>
							<div class="m-5 border-dark">
								<table class="table text-center table-bordered  p-3">
									<tbody>
										<tr>
											<th>ID</th>
											<td>{{ company.idcompany }}</td>
										</tr>
										<tr>
											<th>Nom Brasserie</th>
											<td>{{ company.companyname }}</td>
										</tr>
										<tr>
											<th>Description</th>
											<td>{{ company.description }}</td>
										</tr>
										<tr>
											<th>Siret</th>
											<td>{{ company.siret }}</td>
										</tr>
										<tr>
											<th>Site Internet</th>
											<td>
												<a href="{{ company.website }}" class="text-dark" style="text-decoration:none;">
													{{ company.website }}
												</a>
											</td>
										</tr>
										<tr>
											<th>Department</th>
											<td>{{ company.department }}</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="vstack gap-2 col-md-5 mx-auto">

								<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('app_company_edit', {'idcompany': company.idcompany}) }}';">Modifier</button>
							</div>
							<br>
							{{ include('company/_delete_form.html.twig') }}
							<br>
							<div class="vstack gap-2 col-md-5 mx-auto">

								<button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{{ path('app_company_index') }}';">Retour vers liste des brasseries</button>

							</div>


						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>
	<center>
	<br>
	<div class="table-responsive-lg blocStyle">
		<table>
			<thead>
				<h3 class=" text-center">
					<b>Bières de la companies</b>
				</h3>
				<hr class=" text-white">

				{% for beer in beers %}


					<div class="card m-3 bg-light text-center" style="max-width: 540px;">
						<div class="row g-0">
							<div class="col-md-4 mb-3 mt-3">
								<a href="/fiche/{{ beer.getIdBeer() }}">
									<img src="{{asset('imgs/beer/')}}{{beer.getPhoto()}}" class="img-fluid" alt="..." style="height: 200px;"></a>

							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">
										<a href="/fiche/{{ beer.getIdBeer() }}" class="text-dark" style="text-decoration:none;">
											{{ beer.getName() }}
										</a>
									</h5>
									<p class="card-text text-dark">{{ beer.getDescription() }}</p>
									<p class="card-text">
										<small class="text-muted ">Ajouté le
											{{ beer.getCreateddate().format('Y-m-d') }}</small>
										<h3 style="color:black"></h3>
									</p>
								</div>
							</div>
						</div>
					</div>


				{% endfor %}
				<tr>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr></tr>
			</tbody>
		</table>
	</div></center>
{% endblock %}
