{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="row" style="margin :2em;">
		<div class="col">
			<div class="table-responsive-lg blocCentral">
				<div class="card">
					<div class="card-header connexion">INSCRIPTION</div>
					<div class="card-body orange">
						<div class="card-body blanc">
							{{ form_start(form, {'attr': {'id': 'new_edit_utilisateur'}}) }}

							<div class="row row-cols-2 ">
								<div class="col">
									{{ form_label(form.email) }} :
								</div>
								<div class="col">
									{{ form_widget(form.email) }}
								</div>
							</div>
							<br>

							<div class="row row-cols-2 ">
								<div class="col">
									{{ form_label(form.pseudo) }} :
								</div>
								<div class="col">
									{{ form_widget(form.pseudo) }}
								</div>
							</div>
							<br>

							<div class="row row-cols-2 ">
								<div class="col">
									{{ form_label(form.password) }} :
								</div>
								<div class="col">
									{{ form_widget(form.password) }}
								</div>
							</div>
							<br>
							<div class="row row-cols-2 ">
								<div class="col">
									<label for="verifpass">Confirmation mot de passe :</label>
								</div>
								<div class="col">
									<input type="password" id="verifpass" required>
								</div>
							</div>
						</div>

						<span id='message'>‎</span>

						<div class="form-group row mb-0">
							<div class="col-md-8 offset-md-4">
								<button type="submit" class="btn btn-primary">
									S'inscrire
								</button>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div><script>
var verifMDP = function () {
spanMessage = document.getElementById('message');
nouveauMdp = document.getElementById('password');
Confnouveau_mdp = document.getElementById('Conf_password');
boutonValider = document.getElementById('valider');
if (nouveauMdp.value == Confnouveau_mdp.value && nouveauMdp.value.length != 0 && Confnouveau_mdp.value.length != 0) {
spanMessage.style.color = 'green';
spanMessage.innerHTML = 'OK';
boutonValider.style.display = 'block';
} else if (nouveauMdp.value != Confnouveau_mdp.value) {
spanMessage.style.color = 'red';
spanMessage.innerHTML = 'Ne correspond pas';
boutonValider.style.display = 'none';
} else {
spanMessage.innerHTML = '';
}

}</script>{% endblock %}
